/* Общие сбросы для избежания проблем с межбраузерностью */
* {
    margin: 0;
    padding: 0;
}

/*
  Базовый размер шрифта для корневого элемента (<html>)
  Определяет масштаб остальных относительных единиц (em, rem)
 */
html {
    font-size: 18px;
}

/*
  Основной контейнер страницы
  Шириной 80% окна браузера, ограниченная максимумом в 1200px
  Высота 80% от высоты окна (80vh)
 */
.container {
    width: 80%;
    /* Ширина в процентах */
    max-width: 1200px;
    /* Максимальный размер в пикселях */
    margin: 0 auto;
    /* Централизация по горизонтали */
    padding: 20px;
    /* Поля вокруг контента */
    height: 80vh;
    /* Высота в проценте высоты окна */
}

/*
  Заголовок первого уровня внутри контейнера
  Шрифт увеличенный (3 раза от размера родительского элемента),
  выровнен по центру и подчеркнут
 */
.container h1 {
    margin: 0 auto;
    padding: 20px 15px;
    font-size: 3em;
    /* Увеличенный шрифт */
    color: blue;
    text-align: center;
    text-decoration: underline;
}

/*
  Абзацы с содержанием
  Используются проценты высоты окна (height: 50vh)
 */
.paragraph p {
    margin: 15px;
    padding: 10px;
    height: 50vh;
    /* Высоту задаем в процентах высоты окна */
}

/*
  Блок с основным контентом (.parag)
  Ширина установлена в 80% ширины окна (80vw)
 */
.parag p {
    margin: 15px;
    padding: 10px;
    width: 80vw;
    /* Ширина задана в процентах ширины окна */
}

/*
  Эффект плавного вращения цитаты
  Применяется один раз за 10 секунд
 */
.quote {
    margin: 10px;
    padding: 10px;
    animation-name: rotateQuote;
    /* Имя анимации */
    animation-duration: 10s;
    /* Длительность анимации */
    animation-timing-function: linear;
    /* Линейная скорость */
    animation-iteration-count: 1;
    /* Однократное исполнение */
}

/*
  Параграф с описанием
  По умолчанию установлен белый цвет текста
  Ширина задана в vw (относительно ширины окна)
  Высота задана в vh (относительно высоты окна)
 */
.prg p {
    color: white;
    font-size: 18px;
    line-height: 150%;
    text-align: justify;
    max-width: 80vw;
    /* Ширина в процентах ширины окна */
    height: 50vh;
    /* Высота в процентах высоты окна */
    margin: 0 auto;
    background-image: url(/assets/images/forest.jpg);
    /* Картинка фона */
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    padding: 20px;
}

/* 
  Адаптация стиля при небольшой ширине окна (менее 80vw)
  Шрифт теперь регулируется относительно ширины окна 
 */
@media screen and (max-width: 80vw) {
    .prg p {
        font-size: 4vw;
        /* Новый размер шрифта, пропорциональный ширине окна */
        background-size: contain;
    }
}

/* 
  Адаптация стиля при ещё меньшей ширине окна (менее 60vw)
  Меняется размер шрифта и режим отображения фона 
 */
@media screen and (max-width: 60vw) {
    .prg p {
        font-size: 3vw;
        /* Новый размер шрифта, пропорциональный ширине окна */
        background-size: 100% 100%;
    }
}

/* 
  Стиль для очень узкого окна (менее 40vw)
  Шрифт дополнительно уменьшается и задаётся заполнение фона 
  */
@media screen and (max-width: 40vw) {
    .prg p {
        font-size: 2vw;
        /* Новый размер шрифта, пропорциональный ширине окна */
        background-size: cover;
    }
}

/*
  Анимация поворота осуществляется путем постепенного изменения угла поворота элемента от начальной точки (0 градусов) до конечной (180 градусов). Она выполняется один раз и длится 10 секунд. Ключевое слово rotate() изменяет угол элемента, используя указанную величину в градусах.
 */
@keyframes rotateQuote {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(180deg);
    }
}

/*
  ЭКСПЕРИМЕНТАЛЬНАЯ ЧАСТЬ 
 .container {
    width: 500px;      
    height: 300px;   
}
  Проверяли замену фиксированных значений на относительные:
 .container {
    width: 80%;        
    height: 80vh;     
}
  До эксперимента: использовали фиксированную ширину и высоту в пикселях.
  После эксперимента: перешли на проценты и viewport units.
  Результат: адаптивность повысилась, элементы эластичны и приспособились к разным экранам.
 */