* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.3;
}

header nav {
    position: fixed;
    background: greenyellow;
    z-index: 1;
}

/*Первоначально заголовок имеет стандартное поведение (position: static), т.к. браузер видит его первым элементом страницы.
По мере прокрутки страницы вниз заголовок плавно "прилипает" к верхней границе окна (position: sticky), оставаясь постоянно видимым.
Когда пользователь прекращает прокрутку или возвращается назад, заголовок продолжает вести себя как приклеенный к верху окна.*/
header h1 {
    position: sticky;
    background-color: rgb(82, 32, 218);
    padding: 10px 50px;
    border-radius: 5px;
    z-index: 1;
}

/* Relative */
/* Смещает элемент относительно его исходного положения, не удаляя его из обычного потока
    блок сместился влево и вверх, но остался в потоке*/
.relative-box {
    position: relative;
    width: 400px;
    height: 200px;
    background-color: coral;
    top: 20px;
    left: 20px;
    overflow: scroll; /*добавляет прокрутку, если текс не влезает*/
}

/* Absolute */
/* элемент вытягивается из обычного потока и помещается относительно ближайшего позиционированного предка
   блок расположился абсолютно, не занимая пространство среди других элементов */
.absolute-box {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: skyblue;
    top: 150px;
    right: 20px;
    overflow: hidden; /*скрывает не вмещающийся текст*/
}

/* Fixed */
/*Элемент закреплён относительно окна браузера и не двигается при прокрутке
 блок закреплён снизу справа и не изменится при прокрутке */
.fixed-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 150px;
    height: 150px;
    background-color: limegreen;
}

/* Sticky */
/*Смешанный тип: элемент ведёт себя нормально, пока не доходит до верхнего края окна, после чего становится фиксированным
  блок останется на своём месте, пока не достигнет вершины окна, после чего станет фиксированным*/
.sticky-box {
    position: sticky;
    top: 0;
    background-color: goldenrod;
    padding: 10px 50px;
    border-radius: 5px;
    z-index: 3; /*видимость поверх остальных элементов*/
}

#hobby {
    padding-top: 500px;
    padding-bottom: 200px;

}

#hobby p {
    width: 300px;
    height: 200px;
    overflow: auto; /*автоматически добавляет прокрутку, если текс не влезает*/
}

/*Работа с float*/
/*Элемент с классом .float-left покидает обычный поток и переносится влево*/
.float-left {
    margin-top: 10px;
    float: left;
    width: 150px;
    height: 150px;
    background-color: pink;
    margin-right: 10px;
}
/*возвращаемся обратно в обычный поток*/
p.float-text {
    clear: both;
    /* устраняет проблему float */
}

/*первый элемент вплотную примыкает к верхнему краю контейнера, несмотря на наличие отступа margin. Это происходит из-за схлопывания вертикальных отступов между границей контейнера и первым вложенным элементом. Один из наиболее простых способов — задать внутренний отступ (padding) родительскому контейнеру. Благодаря этому отступ первого элемента перестанет схлопываться с границей контейнера. */
.container {
    background-color: lightgray;
    padding: 10px;
    margin: 10px;
}

.item {
    background-color: lightblue;
    margin: 10px;
    padding: 10px;
}

/* Анимационный блок */
.moving-box {
    width: 100px;
    height: 100px;
    background-color: tomato;
    position: relative;
    /* Важно для анимации позиции */
    animation: moveBox 3s linear infinite alternate;
    /* Применяем анимацию */
}

/* Ключевой кадр анимации */
@keyframes moveBox {
    from {
        transform: translateX(0);
        /* Начальная позиция */
    }

    to {
        transform: translateX(calc(100vw - 100px));
        /* Конечная позиция */
    }
}